a:hover, a:focus, a.active {
  border: 1px solid #3c3c3c;
  transition: border 0.65s ease-in; }

.contacts__feedback-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;
  color: #3c3c3c; }

.contacts__feedback-form input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;
  color: #3c3c3c; }

.contacts__feedback-form input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;
  color: #3c3c3c; }

.contacts__feedback-form input:-moz-placeholder {
  /* Firefox 18- */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;
  color: #3c3c3c; }

.contacts__feedback-form input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

.contacts__feedback-form input:focus::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

.contacts__feedback-form input:focus:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

.contacts__feedback-form input:focus:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

.contacts__feedback-form input:hover::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

.contacts__feedback-form input:hover::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

.contacts__feedback-form input:hover:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

.contacts__feedback-form input:hover:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in; }

@-webkit-keyframes showContent {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes showContent {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes showContent {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes showContent {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ==========================================================================
   Basic Styles
   ========================================================================== */
@font-face {
  font-family: Merriweather-Regular;
  src: url(../fonts/Merriweather-Regular.ttf); }

@font-face {
  font-family: Merriweather-Light;
  src: url(../fonts/Merriweather-Light.ttf); }

@font-face {
  font-family: Merriweather-Italic;
  src: url(../fonts/Merriweather-Italic.ttf); }

@font-face {
  font-family: Merriweather-Bold;
  src: url(../fonts/Merriweather-Bold.ttf); }

html,
body {
  height: 100%; }

html {
  font-size: 16px;
  line-height: 1.3;
  color: #3c3c3c; }

body {
  font-family: Merriweather-Light, serif; }

.container {
  width: 100%;
  padding-right: 9.2%;
  padding-left: 9.2%; }

.section-header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
  font-size: 2.5rem;
  text-align: center; }
  .section-header::after {
    position: absolute;
    left: 50%;
    bottom: -50px;
    display: block;
    width: 253px;
    height: 33px;
    margin-left: -125px;
    background-image: url(../img/decoration.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: ""; }

ul {
  list-style-type: none; }

a {
  padding: 10px;
  color: #3c3c3c;
  border: 1px solid transparent;
  cursor: pointer; }
  a:hover, a:focus {
    color: #3c3c3c;
    text-decoration: none; }

a.active {
  color: #3c3c3c;
  text-decoration: none; }

/* ==========================================================================
   Header
   ========================================================================== */
.top-header {
  position: relative;
  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 50px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/header.jpg);
  background-attachment: fixed; }

.top-header__navmenu-row {
  margin: 0;
  font-size: 1.125rem; }

.top-header__navmenu {
  float: right;
  margin: 0;
  padding: 0; }

.top-header__navmenu-list {
  display: flex;
  justify-content: space-between;
  padding: 0; }

.top-header__promo {
  position: absolute;
  top: 40%;
  left: 65%; }

/* ==========================================================================
   Features
   ========================================================================== */
.features {
  font-size: 1.125rem;
  text-align: center;
  background-size: contain;
  background-image: url(../img/bg-yellow.png); }

.features features__header {
  font-family: Merriweather-Bold, serif; }

.features__tea,
.features__noodle,
.features__sweet {
  margin-top: 60px;
  margin-bottom: 80px; }

.features__tea::before,
.features__noodle::before,
.features__sweet::before {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background: url(../img/spritesheet.png) no-repeat;
  content: ""; }

.features__tea::before {
  width: 106px;
  height: 79px;
  background-position: -176px 6px; }

.features__noodle::before {
  width: 87px;
  height: 79px;
  background-position: -5px -5px; }

.features__sweet::before {
  width: 64px;
  height: 79px;
  background-position: -102px -2px; }

/* ==========================================================================
   Specials
   ========================================================================== */
.specials {
  margin-bottom: 105px;
  padding-top: 70px; }
  .specials .specials__row-1 .specials__item-description {
    float: right; }
  .specials .specials__row-2 .specials__item-description {
    float: left; }

.specials__item {
  height: 250px;
  padding: 0; }

.specials__item-img {
  width: 50%;
  height: 100%; }

.specials__item-description {
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: #f8f8f8; }

.specials__item-description-header {
  font-family: Merriweather-Bold, serif;
  font-size: 1.125rem; }
  .specials__item-description-header::after {
    display: block;
    width: 35%;
    height: 1px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/line.png);
    content: ""; }

.specials__item-description-price {
  display: block;
  margin-top: 10px;
  font-family: Merriweather-Bold, serif; }

/* ==========================================================================
   About
   ========================================================================== */
.about {
  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 240px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/about.jpg);
  background-attachment: fixed; }

.about__text {
  position: relative;
  font-size: 1.875rem;
  text-align: center; }
  .about__text::after {
    position: absolute;
    left: 60%;
    bottom: -200px;
    display: block;
    width: 213px;
    height: 144px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/signature.png);
    content: ""; }

/* ==========================================================================
   Menu
   ========================================================================== */
.menu {
  padding-top: 65px;
  font-size: 1.125rem; }

.menu__nav {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px; }

.menu__item {
  display: block;
  margin-bottom: 40px;
  overflow: hidden; }
  .menu__item::after {
    display: block;
    height: 14px;
    border-bottom: 1px dotted #3c3c3c;
    overflow: hidden;
    content: ""; }

.menu__item-header {
  display: block;
  float: left;
  padding-right: 2px;
  text-transform: uppercase; }

.menu__item-price {
  display: block;
  float: right;
  padding-left: 2px; }

.menu__item-ingredients {
  display: block;
  clear: both;
  font-family: Merriweather-Italic, serif;
  font-size: 0.875rem; }

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 60px;
  font-family: Merriweather-Regular, serif;
  font-size: 1rem;
  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

/* ==========================================================================
   Contacts
   ========================================================================== */
.contacts {
  float: right; }

.contacts-header {
  font-family: Merriweather-Light, serif; }

/* Contacts Address
   ========================================================================== */
.contacts__address {
  margin-bottom: 90px; }

.contacts__address-header,
.contacts__feedback-header {
  font-size: 1.125rem;
  text-transform: uppercase; }

/* Contacts Feedback
   ========================================================================== */
.contacts__feedback {
  margin-bottom: 190px; }

.contacts__feedback-header {
  margin-bottom: 30px;
  padding-left: 0;
  padding-right: 0; }

.contacts__feedback-form {
  margin: 0; }

.contacts__feedback-form-field {
  height: 30px;
  margin-bottom: 60px;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px solid #3c3c3c; }
  .contacts__feedback-form-field:focus {
    outline: none; }

.contacts__feedback-form .col-sm-6 {
  padding: 0; }
  .contacts__feedback-form .col-sm-6:first-child {
    padding-right: 10.5%; }
  .contacts__feedback-form .col-sm-6:nth-child(2) {
    padding-left: 10.5%; }

.contacts__feedback-form-field_type_personal-data {
  width: 100%;
  padding-left: 15px; }

.contacts__feedback-form-field_type_message {
  margin-bottom: 50px; }

.contacts__feedback-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  color: #3c3c3c;
  background: none;
  border: 1px solid #3c3c3c;
  cursor: pointer; }
  .contacts__feedback-form-button:hover {
    color: #fff;
    background-color: #3c3c3c;
    border-color: transparent;
    opacity: 0.8;
    transition-property: background-color, color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }

/* Footer Bottom
   ========================================================================== */
.footer__bottom {
  height: 50px;
  margin-bottom: 30px;
  line-height: 50px; }

.footer__bottom-social {
  float: right; }

.footer__bottom-social-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-size: auto 20px;
  background-repeat: no-repeat;
  border: 1px solid #3c3c3c;
  cursor: pointer; }
  .footer__bottom-social-icon:hover {
    background-color: #3c3c3c;
    border-color: transparent;
    opacity: 0.8;
    transition-property: background-image, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in; }

.footer__bottom-social-icon_type_facebook {
  margin-right: 15px;
  background-size: auto 23px;
  background-image: url(../img/icons_facebook.png); }
  .footer__bottom-social-icon_type_facebook:hover {
    background-image: url(../img/icons_facebook-hover.png); }

.footer__bottom-social-icon_type_instagram {
  background-size: auto 26px;
  background-image: url(../img/icons_instagram.png); }
  .footer__bottom-social-icon_type_instagram:hover {
    background-image: url(../img/icons_instagram-hover.png); }
