a:hover,
a:focus,
a.active {
  transition: border .65s ease-in; 

  border: 1px solid #3c3c3c;
}

.footer .contact__form form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;

  color: #3c3c3c;
}

.footer .contact__form form input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;

  color: #3c3c3c;
}

.footer .contact__form form input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;

  color: #3c3c3c;
}

.footer .contact__form form input:-moz-placeholder {
  /* Firefox 18- */
  font-family: Merriweather-Italic, serif;
  font-size: 1.125rem;

  color: #3c3c3c;
}

.footer .contact__form form input:focus::-webkit-input-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* Chrome/Opera/Safari */

  opacity: .6;
}

.footer .contact__form form input:focus::-moz-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* Firefox 19+ */

  opacity: .6;
}

.footer .contact__form form input:focus:-ms-input-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* IE 10+ */

  opacity: .6;
}

.footer .contact__form form input:focus:-moz-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* Firefox 18- */

  opacity: .6;
}

.footer .contact__form form input:hover::-webkit-input-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* Chrome/Opera/Safari */

  opacity: .6;
}

.footer .contact__form form input:hover::-moz-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* Firefox 19+ */

  opacity: .6;
}

.footer .contact__form form input:hover:-ms-input-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* IE 10+ */

  opacity: .6;
}

.footer .contact__form form input:hover:-moz-placeholder {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: opacity;
  /* Firefox 18- */

  opacity: .6;
}

@-webkit-keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ==========================================================================
   Basic Styles
   ========================================================================== */
@font-face {
  font-family: Merriweather-Regular;

  src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather-Light;

  src: url(../fonts/Merriweather-Light.ttf);
}

@font-face {
  font-family: Merriweather-Italic;

  src: url(../fonts/Merriweather-Italic.ttf);
}

@font-face {
  font-family: Merriweather-Bold;

  src: url(../fonts/Merriweather-Bold.ttf);
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.3;

  color: #3c3c3c;
}

body {
  font-family: Merriweather-Light, serif;
}

.container {
  width: 100%;
  padding-right: 9.2%;
  padding-left: 9.2%;
}

.section-header {
  font-size: 2.5rem;

  position: relative;

  margin-right: auto;
  margin-bottom: 105px;
  margin-left: auto;

  text-align: center;
}
.section-header::after {
  position: absolute;
  bottom: -50px;
  left: 50%;

  display: block;

  width: 253px;
  height: 33px;
  margin-left: -125px;

  content: '';

  background-image: url(../img/decoration.png);
  background-repeat: no-repeat;
  background-size: contain;
}

ul {
  list-style-type: none;
}

a {
  padding: 10px;

  cursor: pointer;

  color: #3c3c3c;
  border: 1px solid transparent;
}
a:hover,
a:focus {
  text-decoration: none;

  color: #3c3c3c;
}

a.active {
  text-decoration: none; 

  color: #3c3c3c;
}

.top-header {
  position: relative;

  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 50px;

  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center center;
  background-size: cover;
}

.top-header__navmenu-row {
  font-size: 1.125rem; 

  margin: 0;
}

.top-header__navmenu {
  margin: 0;
  padding: 0;
}

.top-header__promo {
  position: absolute;
  top: 40%;
  left: 65%;
}

/* ==========================================================================
   Main Content
   ========================================================================== */
/* Features
   ========================================================================== */
.features {
  font-size: 1.125rem;

  text-align: center;

  background-image: url(../img/bg-yellow.png); 
  background-size: contain;
}
.features h2 {
  font-family: Merriweather-Bold, serif;
}
.features-tea,
.features-noodle,
.features-sweet {
  margin-top: 60px;
  margin-bottom: 80px;
}
.features-tea::before,
.features-noodle::before,
.features-sweet::before {
  display: block;

  width: 100%;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;

  content: ''; 

  background: url(../img/spritesheet.png) no-repeat;
}
.features-tea::before {
  width: 106px;
  height: 79px;

  background-position: -176px 6px;
}
.features-noodle::before {
  width: 87px;
  height: 79px;

  background-position: -5px -5px;
}
.features-sweet::before {
  width: 64px;
  height: 79px;

  background-position: -102px -2px;
}

/* Specials
   ========================================================================== */
.specials {
  margin-bottom: 105px;
  padding-top: 70px;
}
.specials__row-1 .specials__item-description {
  float: right;
}
.specials__row-2 .specials__item-description {
  float: left;
}

.specials__item {
  height: 250px;
  padding: 0;
}

.specials__item-img {
  width: 50%;
  height: 100%;
}

.specials__item-description {
  width: 50%;
  height: 100%;

  text-align: center;

  background-color: #f8f8f8;
}

.specials__item-description h2 {
  font-family: Merriweather-Bold, serif;
  font-size: 1.125rem;
}
.specials__item-description h2::after {
  display: block;

  width: 35%;
  height: 1px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;

  content: ''; 

  background-image: url(../img/line.png);
}

.specials__item-description strong {
  font-family: Merriweather-Bold, serif; 

  display: block;

  margin-top: 10px;
}

/* About
   ========================================================================== */
.about {
  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 240px;

  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center center;
  background-size: cover;
}

.about p {
  font-size: 1.875rem;

  position: relative;

  text-align: center;
}
.about p::after {
  position: absolute;
  bottom: -200px;
  left: 60%;

  display: block;

  width: 213px;
  height: 144px;

  content: ''; 

  background-image: url(../img/signature.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Menu
   ========================================================================== */
.menu {
  font-size: 1.125rem; 

  padding-top: 65px;
}
.menu__nav {
  width: 30%;
  margin-right: auto;
  margin-bottom: 90px; 
  margin-left: auto;
}
li > .menu__main-dishes:hover + li {
  background: red;
}
.menu__items li {
  display: block;
  overflow: hidden; 

  margin-bottom: 40px;
}
.menu__items li::after {
  display: block;
  overflow: hidden;

  height: 14px;

  content: ''; 

  border-bottom: 1px dotted #3c3c3c;
}
.menu__item {
  display: block;
  float: left;

  padding-right: 2px;

  text-transform: uppercase;
}
.menu__item-price {
  display: block;
  float: right;

  padding-left: 2px;
}
.menu__item-ingredients {
  font-family: Merriweather-Italic, serif;
  font-size: .875rem; 

  display: block;
  clear: both;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  font-family: Merriweather-Regular, serif;
  font-size: 1rem;

  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 60px;

  background-image: url(../img/contact.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.footer .section-header {
  font-family: Merriweather-Light, serif;
}

.footer h2:not(.section-header) {
  font-size: 1.125rem;
}

.footer .contact__contacts {
  margin-bottom: 90px;
}

.footer .contact__form {
  margin-bottom: 190px;
}

.footer .contact__form h2 {
  margin-bottom: 30px;
  padding-right: 0; 
  padding-left: 0;
}

.footer .contact__form form {
  margin: 0;
}

.footer .contact__form form input {
  height: 30px;
  margin-bottom: 60px;

  border: none;
  border-bottom: 1px solid #3c3c3c; 
  background: none;
}
.footer .contact__form form input:focus {
  outline: none;
}

.footer .contact__form form div {
  padding: 0;
}
.footer .contact__form form div:first-child {
  padding-right: 10.5%;
}
.footer .contact__form form div:nth-child(2) {
  padding-left: 10.5%;
}

.footer .contact__form form div input {
  width: 100%;
  padding-left: 15px;
}

.footer .contact__form form input.message {
  margin-bottom: 50px;
}

.footer .contact__form form button {
  padding: 10px 20px;

  cursor: pointer; 

  color: #3c3c3c;
  border: 1px solid #3c3c3c;
  background: none;
}
.footer .contact__form form button:hover {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: background-color, color, border-color;

  opacity: .8;
  color: #fff;
  border-color: transparent;
  background-color: #3c3c3c;
}

.footer .footer-bottom {
  line-height: 50px; 

  height: 50px;
  margin-bottom: 30px;
}

.footer .footer-bottom .social__icon {
  display: inline-block;

  width: 50px;
  height: 50px;

  cursor: pointer; 

  border: 1px solid #3c3c3c;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 20px;
}
.footer .footer-bottom .social__icon:hover {
  transition-timing-function: ease-in; 
  transition-duration: .3s;
  transition-property: background-image, background-color, border-color;

  opacity: .8;
  border-color: transparent;
  background-color: #3c3c3c;
}

.footer .footer-bottom .facebook {
  margin-right: 15px;

  background-image: url(../img/icons_facebook.png); 
  background-size: auto 23px;
}
.footer .footer-bottom .facebook:hover {
  background-image: url(../img/icons_facebook-hover.png);
}

.footer .footer-bottom .instagram {
  background-image: url(../img/icons_instagram.png); 
  background-size: auto 26px;
}
.footer .footer-bottom .instagram:hover {
  background-image: url(../img/icons_instagram-hover.png);
}

/* ==========================================================================
   Layout
   ========================================================================== */
.flex-wrapper {
  display: flex;

  padding: 0; 

  justify-content: space-between;
}

@media screen and (min-width: 1300px) {
  .contact__contacts::before,
  .contact__contacts::after {
    display: table;
    clear: both;

    content: '';
  }
  .contact__contacts div:last-child {
    float: right;
  }
}
