/* ==========================================================================
   Main Content
   ========================================================================== */

/* Features
   ========================================================================== */

.features {
  font-size: 1.125rem;
  text-align: center;
  background: {
    size: contain;
    image: url(../img/bg-yellow.png);
  }
}

.features h2 { font-family: Merriweather-Bold, serif; }

.features-tea,
.features-noodle,
.features-sweet {
  margin: {
    top: 60px;
    bottom: 80px;
  }
}

.features-tea::before,
.features-noodle::before,
.features-sweet::before {
  display: block;
  width: 100%;
  margin: {
    left: auto;
    right: auto;
    bottom: 25px;
  }
  background: url(../img/spritesheet.png) no-repeat;
  content: "";
}

.features-tea::before { @include sprite(176, -6, 106); }

.features-noodle::before { @include sprite(5, 5, 87); }

.features-sweet::before { @include sprite(102, 2, 64); }

/* Specials
   ========================================================================== */

.specials {
  margin-bottom: 105px;
  padding-top: 70px;

  @for $row from 1 through 2 {
    .specials__row-#{$row} {
      .specials__item-description {
        @if $row == 1 {
          float: right;
        } @else {
          float: left;
        }
      }
    }
  }
}

.specials__item {
  height: 250px;
  padding: 0;
}

.specials__item-img {
  width: 50%;
  height: 100%;
}

.specials__item-description {
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: $lightgrey;
}

.specials__item-description h2 {
  font-family: Merriweather-Bold, serif;
  font-size: 1.125rem;

  &::after {
    display: block;
    width: 35%;
    height: 1px;
    margin: {
      top: 10px;
      left: auto;
      right: auto;
    }
    background-image: url(../img/line.png);
    content: "";
  }
}

.specials__item-description strong {
  display: block;
  margin-top: 10px;
  font-family: Merriweather-Bold, serif;
}


/* About
   ========================================================================== */

.about {
  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 240px;
  background: {
    position: center center;
    size: cover;
    repeat: no-repeat;
    image: url(../img/about.jpg);
    attachment: fixed;
  }
}

.about p {
  position: relative;
  font-size: 1.875rem;
  text-align: center;

  &::after {
    position: absolute;
    left: 60%;
    bottom: -200px;
    display: block;
    width: 213px;
    height: 144px;
    background: {
      size: contain;
      repeat: no-repeat;
      image: url(../img/signature.png);
    }
    content: "";
  }
}

/* Menu
   ========================================================================== */

.menu {
  padding-top: 65px;
  font-size: 1.125rem;
}

.menu__nav {
  width: 30%;
  margin: {
    left: auto;
    right: auto;
    bottom: 90px;
  }
}

.menu__items li {
  display: block;
  margin-bottom: 40px;
  overflow: hidden;

  &::after {
    display: block;
    height: 14px;
    border-bottom: 1px dotted $grey;
    overflow: hidden;
    content: "";
  }
}

.menu__item {
  display: block;
  float: left;
  padding-right: 2px;
  text-transform: uppercase;
}

.menu__item-price {
  display: block;
  float: right;
  padding-left: 2px;
}

.menu__item-ingredients {
  display: block;
  clear: both;
  font-family: Merriweather-Italic, serif;
  font-size: 0.875rem;
}

