/* ==========================================================================
   Contacts
   ========================================================================== */
.contacts {
  float: right;
}

.contacts-header { font-family: Merriweather-Light, serif; }

/* Contacts Address
   ========================================================================== */

.contacts__address { margin-bottom: 90px; }

.contacts__address-header,
.contacts__feedback-header {
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* Contacts Feedback
   ========================================================================== */

.contacts__feedback {
  margin-bottom: 190px;
}

.contacts__feedback-header {
  margin-bottom: 30px;
  padding: {
    left: 0;
    right: 0;
  }
}

.contacts__feedback-form {
  @extend %placeholder;
  @extend %placeholder-hover;
  @extend %placeholder-focus;
  margin: 0;
}

.contacts__feedback-form-field {
  height: 30px;
  margin-bottom: 60px;
  padding: 0;
  background: none;
  border: none;
  border-bottom: 1px solid $grey;

  &:focus { outline: none; }
}

.contacts__feedback-form .col-sm-6 {
  padding: 0;

  &:first-child { padding-right: 10.5%; }

  &:nth-child(2) { padding-left: 10.5%; }
}

.contacts__feedback-form-field_type_personal-data {
  width: 100%;
  padding-left: 15px;
}

.contacts__feedback-form-field_type_message { margin-bottom: 50px; }

.contacts__feedback-form-button {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
  padding: 10px 20px;
  color: $grey;
  background: none;
  border: 1px solid $grey;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $grey;
    border-color: transparent;
    opacity: 0.8;
    transition: {
      property: background-color, color, border-color;
      duration: 0.3s;
      timing-function: ease-in;
    }
  }
}