/* ==========================================================================
   Layout
   ========================================================================== */

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}


@media (min-width: 1300px) {
  .contact__contacts {
    &::before, 
    &::after {
      display: table;
      clear: both;
      content: "";
    }
  }

  .contact__contacts div:last-child {
    float: right;
  }
}