.footer__bottom {
  height: 5rem;
  margin-bottom: 3rem;

  line-height: 5rem;
}

.footer__bottom-copyright { text-align: center; }

.footer__bottom-social { float: right; }

.footer__bottom-social-icon {
  display: inline-block;
  width: 5rem;
  height: 5rem;

  font-size: 0;

  background: {
    position: center center;
    size: auto 2rem;
    repeat: no-repeat;
  }
  border: .1rem solid $grey;

  cursor: pointer;

  &:hover {
    background-color: $grey;
    border-color: transparent;
    opacity: 0.8;

    transition: {
      property: background-image, background-color, border-color;
      duration: 0.3s;
      timing-function: ease-in;
    }
  }
}

.footer__bottom-social-icon_type_facebook {
  margin-right: 1.5rem;

  background: {
    size: auto 2.3rem;
    image: url(../img/icons_facebook.png);
  }

  &:hover { background-image: url(../img/icons_facebook-hover.png); }
}

.footer__bottom-social-icon_type_instagram {
  background: {
    size: auto 2.6rem;
    image: url(../img/icons_instagram.png);
  }

  &:hover { background-image: url(../img/icons_instagram-hover.png); }
}
