.footer {
  min-width: 100%;
  height: 96.5rem;
  min-height: 65rem;
  padding-top: 6rem;

  font-family: Merriweather-Regular, serif;
  font-size: 1.6rem;

  background: {
    image: url(../img/contact.jpg);
    repeat: no-repeat;
    position: center center;
    attachment: fixed;
    size: cover;
  }
}