/* ==========================================================================
   Features
   ========================================================================== */

.features {
  font-size: 1.125rem;
  text-align: center;
  background: {
    size: contain;
    image: url(../img/bg-yellow.png);
  }
}

.features h2 { font-family: Merriweather-Bold, serif; }

.features-tea,
.features-noodle,
.features-sweet {
  margin: {
    top: 60px;
    bottom: 80px;
  }
}

.features-tea::before,
.features-noodle::before,
.features-sweet::before {
  display: block;
  width: 100%;
  margin: {
    left: auto;
    right: auto;
    bottom: 25px;
  }
  background: url(../img/spritesheet.png) no-repeat;
  content: "";
}

.features-tea::before { @include sprite(176, -6, 106); }

.features-noodle::before { @include sprite(5, 5, 87); }

.features-sweet::before { @include sprite(102, 2, 64); }