/* ==========================================================================
   Header
   ========================================================================== */

.top-header {
  position: relative;
  min-width: 100%;
  height: 965px;
  min-height: 650px;
  padding-top: 50px;
  background: {
    position: center center;
    size: cover;
    repeat: no-repeat;
    image: url(../img/header.jpg);
    attachment: fixed;
  }
}

.top-header__navmenu-row {
  margin: 0;
  font-size: 1.125rem;
}

.top-header__navmenu {
  float: right;
  margin: 0;
  padding: 0;
}

.top-header__navmenu-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.top-header__promo {
  position: absolute;
  top: 40%;
  left: 65%; 
}
